fcarga
ieee118cdf.txt
ieee14cdf.txt
ieee57cdf.txt
ieee3cdf.txt
a
b
bora14.csv
jac14.csv
jac14t.csv
jacobiana57.csv
jacobiana57t.csv
jacobianath57.csv
mis57.txt
mis57t
novajac57.csv
saida14merda.csv
seidel.h
sistema.csv
t.py
update.csv
update57.csv
